<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.paritosh.learning.springin5steps" />
    <context:component-scan base-package="com.paritosh.learning.componentscan"/>
    <bean class="com.paritosh.learning.springin5steps.xml.XmlJdbcConnection" id="xmlJdbcConnection"/>
    <bean class="com.paritosh.learning.springin5steps.xml.XmlJmsConnection" id="xmlJmsConnection"/>


    <bean class="com.paritosh.learning.springin5steps.xml.XmlPersonDao" id="xmlPersonDao" autowire="default" scope="prototype">
        <property name="connection" ref="xmlJmsConnection"/>

    </bean>

</beans>